<div class="center jumbotron">
  <h3>Slack Rails  / Log-In</h3>
<!-- see style sheet custom.scss for h3's style  -->
  <div class="container">
    <%= render 'form' %>
  </div>
</div>


<!-- center is styled see custom sheet  -->
<!-- .center {                          -->
<!--   text-align: left;                -->
<!--   h1 {                             -->
<!--     margin-bottom: 10px;           -->
<!--   }                                -->
<!-- }                                  -->
