<div class="teamwrap"> <!-- the A container -->

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!-- xxxxx                                     xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!-- xxxxx    CAUTION : DRY VIOLATION AHEAD    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!-- xxxxx                                     xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
  <div class="teambanner">
    <p class="two">TEAM DIRECTORY</p>
    <!--  p class="three" > simple text paragraph<x/xp -->
  </div>  <!-- close the page top division, teambanner -->

  <div class="topic-container">       <!-- topics div container       -->
    <div class="topic-name">Team Name</div>
    <div class="topic-desc">Description</div>
    <div class="topic-addn">Description</div>
  </div>                              <!-- close topics div container  -->

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->



<!--  THIS SECTION FORMS THE TABLE DO OUTPUT for lack of better term -->
<% rowcolor = 0 %>
<% puts ":                  setting alt row color shades "%>
<% puts ":                  views/teams/directory/index.html.erb"%>
<% puts " rowcolor index number is set = : #{rowcolor}"%>
<% puts " "%>
<% puts " - - - - - - - - - - - - - - - - - - - - - - - - - "%>
<% puts " "%>
<% rowid = "void" %>    <!-- introduce the variable sort of -->
<% rowcolor = 1 %>                <!-- row color's flag is ODD -->
<% @teams.each do |team| %>  <!-- BEGIN THE DO CONTAINER for table row -->
<% puts " rowcolor index number is set = : #{rowcolor}"%>
  <% if rowcolor.even? %>
      <!--  div id="noshade">  The noshade IF DIV -->
      <% rowid = "noshade" %>
      <% puts "even" %>  <!-- Select #style what doesn't shade row -->
  <% else %>
      <!--    div id="shade">   the shade IF DIV -->
      <% rowid = "shade" %>
      <% puts "odd" %>  <!-- Style will shade ODD rows -->
  <% end %>   <!-- END THE IF here or down there  ???  -->

  <!--       THE CHANNEL CONTAINER IS THE ROW      -->
<% puts " "%>
<% puts " "%>
<% puts " THE rowid is now equiv to : #{rowid}"%>
<% puts " "%>
<% puts " "%>
<!-- channel-container DO forms the table -->
<!-- div class="channel-container"  currently defeated  -->

<!--   div class="teamwrap"   -->
<!-- x%x @teams.each do |team| %x >  this doesn't go here -->
  <div id="<%= rowid %>" >
  <!--  div class="teamrow" ?this makes the items below into a row -->
    <div class="teamname">
      <div class="name-child">
        <%= team.name %>
      </div>
    </div>
    <div class="teamdescr">
      <div class="descr-child">
      <%= team.description %>
      </div>
    </div>
    <div class="teamlink">
      <div class="link-child">
      <%= link_to 'Add Me', add_team_path(team.id), method: :post %>
    </div>
  </div>
</div> <!-- close the row id -->
  <% puts " "%>
  <% puts ":      setting alternating row colors "%>
  <% puts ":      views/teams/directory/index.html.erb "%>
  <% rowcolor = rowcolor + 1 %>
  <% puts " - - - - - - - - - - - - - - - - - - - - - - - - - "%>
<% end %>
<div class="button-container">       <!-- container for button and location -->
  <div class="channel-item4">
    <a href="/teams" class="btn btn-default btn-sm active" role="button">My Channels</a>
  </div>
  <div class="channel-item5">
    <p class="four">teams/directory/index.html.erb</p>   <!-- YOU ARE HERE -->
  </div>
</div> <!-- close the button container directly above -->
</div>  <!-- close the starting wrapper the A div -->
