<header class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="guest">
      <div class="row">
        <div class="col-md-4">
          <div class="navbar-text">
            Slack Rails
          </div>
        </div> <!-- close the brand column -->
        <div class="col-md-4">
          <div class="navbar-text notice">
            YOU! ARE NOT SIGNED IN
          </div>
        </div>          <!-- close the md-2 column for NOTICE -->
                        <!-- ul class="nav nav-pills" -->
        <div class="col-md-2">
          <li><%= link_to "Sign-Up", register_path %></li>
        </div>    <!-- close the col for nav-pills -->
        <div class="col-md-2">
          <li><%= link_to "Login", login_path %></li>
        </div>    <!-- close the col for nav-pills -->
                  <!-- ul -->
      </div>      <!-- close the header row -->
    </div>        <!-- close guest -->
  </div>          <!-- close the container -->
</header>         <!-- close the header div -->
