.guest {
  display: flex;
  align-items: center;  /* up and down */
  /* justify-content:flex-start; */
  background-color: #ef5401; /* ef5401 aprox rocket man orange */
  height: 65px;
  padding: 0px 0px 0px 0px;
}

.brand {
  font-size: 1.4em;
  letter-spacing: 1px;
  font-weight: bold;
  color: #0a0a0a;   /* #0a0a0a another shade of black */
}



.notice {
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: bold;
  color: #0a0a0a;   /* #0a0a0a another shade of black */
  padding-top: 6px;
}

ul {
  float:right;
  list-style: none;
  li {
    float: left;
    margin-left: 0px;
  } /* close the li                   */
}   /* close the ul                   */
