/* custom.css.scss */

/*                        BODY STYLING                  */

/* body, !notice it IS NOT called as .body ref page 191 */
/* padding top puts 65px of pad at the TOP of the page  */
/* with the navbar blah blah top class of the header    */
/* tag, bootstrap will stick the navigation menu to     */
/* pagetop. top padding will then push the page down    */
body {
  padding-top: 70px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-color: #ffffff;
  border-style: solid;
}
/*                        BODY STYLING                    */


/* below is a SASS mix-in box_sizing which allows a group */
/* of CSS rules to be used for multiple elements          */
  @mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }


/*          universal styling for all the pages           */

section {
  overflow:auto;
}

textarea {
  resize: vertical;
}

/*        what does the . do ? .center ???                */
/*        it indicates the rule is styling a class.       */
/*        elements in any tag, such as a div tag,         */
/*        with a class of center is to be styled          */
/*        per this instruction                            */
/*        the dot in .center indicaters the rule          */
/*        will style a class                              */

.center {
  text-align: left;
  h1 {
    margin-bottom: 10px;
  }
}
/* NOTICE that the above is equivalent to the below in */
/* regards to the code for the h1 div, this is nesting */
/* .center h1 {             */
/*   margin-bottom: 10px;   */
/* }                        */






/*                text and type items styling i.e. FONTS */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

h2 {
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/*                     END - text and type items styling */
