/*  - - - - - - - - - - - - - - */
/*  - - - - - - - - - - - - - - */
/*                              */
/*     DEEP PURPLE              */
/*                              */
/*     Machine Head             */
/*                              */
/*  - - - - - - - - - - - - - - */
/*  - - - - - - - - - - - - - - */
/*                                          custom.css.scss         */
/* DEPRECATION WARNING: Extra .css in SCSS file is unnecessary.     */
/*  Rename /Users/douglasdrahem/MyProjects/slack_rails/app/assets/  */
/*  stylesheets/custom.css.scss to /Users/douglasdrahem/MyProjects/ */
/*  slack_rails/app/assets/stylesheets/custom.scss.                 */
/*  (called from _app_views_layouts_application_html_erb__3043...   */
/*   at /Users/douglasdrahem/MyProjects/slack_rails/app/views/      */
/*   layouts/application.html.erb:13)                               */
/*                                          custom.scss             */

/*                        BODY STYLING                  */

/* body, !notice it IS NOT called as .body ref page 191 */
/* padding top puts 65px of pad at the TOP of the page  */
/* with the navbar blah blah top class of the header    */
/* tag, bootstrap will stick the navigation menu to     */
/* pagetop. top padding will then push the page down    */


/*    THE TROUBLE WITH BACKGROUND IMAGES                */
/*      don't be an island                              */

/*    body {                                          */
/*          background: linear-gradient(              */
/*            rgba(0,0,0, 0.3),rgba(0,0,0, 0.3) ),    */
/*             url("/assets/yourimage.jpg") no-repeat center center fixed;  */
/*          -webkit-backgroud-size: cover;            */
/*          -moz-background-size: cover;              */
/*          -o-background-size: cover;                */
/*          background-size: cover;                   */
/*        }                                           */
/*                                                    */
/*  The "linear-gradient( rgba(0,0,0, 0.3), rgba(0,0,0, 0.3))"    */
/*  allows for a dark tint on an image that you use but is too    */
/*  bright, so will provide contrast.  Choose an image you want   */
/*  and the included code should work, maybe.                     */


/*                        BODY STYLING                    */
/*                        BODY STYLING                    */
/*                        BODY STYLING                    */
/*                        BODY STYLING                    */

/*                    anything less and the header will */
/*                   squash the content when the view   */
/*                   is narrowed below md sizing        */

/* body {                 */
/*   padding-top: 200px; */
/* }                    */
  body {
      padding-top: 200px;
      background: linear-gradient(
        rgba(0,0,0, 0.3),
        rgba(0,0,0, 0.3)
        ), url("/assets/bellagio.jpg") no-repeat center center fixed;
      -webkit-backgroud-size: cover;
      -moz-background-size: cover;
      /* -o-background-size: cover; */
      background-size: cover;
    }

/* below is a SASS mix-in box_sizing which allows a group */
/* of CSS rules to be used for multiple elements          */
   @mixin box_sizing {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
/*  which is seen used below with FORMS  must be         */
/* before you use it                                     */
/* tip - use bootstrap for the components, i.e.          */
/* pretty forms, nice buttons, crisp text, alerts        */
/* quick colors                                          */
/* THEN use FLEX for the layout - where the contents     */
/* lay, does it flex, size and wrap                      */
/*    - - - - - - - - - - - - - - - - - - - - - - - - -  */

.bodybox {
  padding: 0px 0px 0px 0px;
  height: 10px;
  width: auto;
}
/* see users/_form.html.erb for a use of .bodybox         */
/* bodybox was placed to prevent the create new user      */
/* form button from slamming into the page bottom         */
/* i.e. a spacer or band-aid                              */

/*          universal styling for all the pages           */

section {
  overflow:auto;
}

textarea {
  resize: vertical;
}

/*        what does the . do ? .center ???                */
/*        it indicates the rule is styling a class.       */
/*        elements in any tag, such as a div tag,         */
/*        with a class of center is to be styled          */
/*        per this instruction                            */
/*        the dot in .center indicaters the rule          */
/*        will style a class   - JUMBOTRON                */
/* jumbotron AND .center found in sessions/new.html.erb   */


.center {
  text-align: left;
  h1 {
    margin-bottom: 10px;
  }
}
/* jumbotron AND .center found in sessions/new.html.erb   */
/* NOTICE that the above is equivalent to the below in */
/* regards to the code for the h1 div, this is nesting */
/* .center h1 {             */
/*   margin-bottom: 10px;   */
/* }                        */

/*                text and type items styling i.e. FONTS */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.0em;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  color: #286090;            /* TEXT  - fafafa is practically WHITE ! */
  }

h2 {
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
/* see jumbotron of sessions/new.html.erb   h3 is busy */
h3 {
  font-size: 1em;
  padding-top: 8px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
/* see jumbotron of sessions/new.html.erb   h3 is busy */
/* using h4 in teams/root/show.html.erb   tentative    */
h4 {
  font-size: 8em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: #777;
}
/* h4                                 h4               */

/* h5                                h5                */
/*        h5 is not used - HERE !    h5 not here       */
/* H5 is found below at teams/root/new.html_form       */
/* h5 end                             h5 end           */

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
p.one {
  font-size: 1.1em;
  line-height: 1.7em;
  color: #c0f2b3;
}
/* used the one class in teams/root/index.html.erb  */
/*   <p class="one"> text blah text text  </p>
/*   - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/*   < < < < < <    p.two   > > > > > > > > > > > */
/*   < < < <   teams/root/show.html.erb  > > > >  */
/*  careful, p.two is used several times          */
p.two {
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1.7em;
  color: #ffff00;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 4px;
}
/*    gave this padding to stop it from slamin' */
/*    into the left hand side of the frame      */
/*    < < < < < <   p.two   > > > > > > > > */
/*    < < < < < <   p.two   > > > > > > > > */

/*    < < < < < <   p.three   > > > > > > > > */
p.three {
  font-size: 1.2em;
  line-height: 1.7em;
  font-weight: bold;
  color: #ffff00;
  padding: 1px 0px 1px 0px;
}
/*    < < < < < <   p.three   > > > > > > > > */

/*    < < < < < <   p.four  > > > > > > > > */
/* basically used for the YOU ARE HERE, and */
/* in more than 1 place                     */
p.four {
  font-size: .8em;
  line-height: 1.7em;
  font-weight: normal;
  color: #000000;
  padding: 1px 4px 1px 0px;
}
/*    < < < < < <   p.four   > > > > > > > > */

/*    < < < < < <   p.five  > > > > > > > > */
p.five {
  font-size: 1em;
  line-height: 1.7em;
  font-weight: bold;
  color: #ffff00;
  padding: 1px 0px 1px 0px;
}
/*    < < < < < <   p.five   > > > > > >  > */

/*    < < < < < <   p.six  > > > > > > > > */
p.six {
  font-size: .8em;
  line-height: 1.7em;
  font-weight: bold;
  color: #ffff00;
  padding: 1px 0px 1px 0px;
}
/*    < < < < < <   p.six   > > > > > >  > */

/* javaSCRIPT items styling : styling itmes of javaSCRIPT   */
/*  views/channels/root/show.html.erb                       */
/* message-container holds message-list which holds message */
/*  message-list hasn't needed any styling                  */
.message-list {} /* this is basically a container           */
/* .message is the list of messages listed for view         */
.message {
  font-size: .6em;
  line-height: 1.4em;
  font-weight: bold;
  color: #000000;
  padding-top: 6px;
  padding-right: 2px;
  padding-bottom: 6px;
  padding-left: 4px;
}
/* message-form styles text entered into the input msg box */
.message-form {
  color: #3d3d3d; /* a dark grey */
  font-size: 18px;
  font-weight: normal;
  line-height: 36px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}
/* a container to keep the button off the input box */
/* this got wayyy out of hand                       */
.dogbox {
  width: auto;
  height: auto;
  padding: 10px 0px 4px 0px;
}
/* the Add Message button */
#bigdog {
				color: #333333;
        font-size: 18px;
        font-weight: normal;
        /* line-height: 36px; */
				/* text-shadow: 0px 1px 1px #ffffff; */
        border-style: solid;
        border-width: 2px;
        border-color: #363636;
        border-radius: 8px;
        padding: 4px 9px 4px 9px;
			  /*	border-bottom: 2px solid #b2b2b2;   a light grey */
				background-color: #ebebeb;
				background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#c7c7c7));
				background: -moz-linear-gradient(top, #ebebeb, #c7c7c7);
				background: -o-linear-gradient(top, #ebebeb, #c7c7c7);
				background: -ms-linear-gradient(top, #ebebeb, #c7c7c7);
        &:hover {
				color: #440000;
        font-size: 18px;
        font-weight: normal;
        border-style: solid;
        border-width: 2px;
        border-color: #363636;
        border-radius: 8px;
        background-color: #ffffff;
        text-decoration: none;
				/* background-color: #fcfcb0; */
				/* background: -webkit-gradient(linear, left top, left bottom, from(#fcfcb0), to(#c7c7c7)); */
				/* background: -moz-linear-gradient(top, #ebebeb, #c7c7c7);     */
				/* background: -o-linear-gradient(top, #ebebeb, #c7c7c7);       */
				/* background: -ms-linear-gradient(top, #ebebeb, #c7c7c7);      */
        }
    }

/* javaSCRIPT items styling : styling itmes of javaSCRIPT    END  */

.mychanls {   /*    see teams/root/index.html.erb  2 places  */
    display: inline-block;
    color: #167f83; /*  slack green */
    font-family: arial;
    font-size: 26px;
    font-weight: bold;
    padding: 8px 0px 8px 0px;
    text-decoration: none;
    /* color: #286090; */
  }

/*  - - - - - - - -   teams/root/index.html.erb  - - - - - -  */
.myutils {   /*    see teams/root/index.html.erb  2 places  */
    display: inline-block;
    color: #ffffff;
    font-family: arial;
    font-size: 26px;
    font-weight: bold;
    padding: 8px 0px 8px 0px;
    text-decoration: none;
    /* color: #286090; */
  }
/* lobutt is also the same approach as this globalink */
/* see the headers styling for the lobutt style       */
  #globlink {
    color: #ffffff;
    font-size: 1.3em;
    line-height: 1.7em;
    &:hover{
      text-decoration: none;
      font-weight: bold;
    }
  }

  #globlinktwo {
    color: #3379b7; /* blue similar to this link but darker */
    font-size: 1.3em;
    line-height: 1.7em;
    &:hover{
      color: #2266ff;
      text-decoration: none;
      font-weight: bold;
    }
  }


/*                     END - text and type items styling */

/*  - - - - - -   more of teams/root/index.html.erb  - - - - - -  */
/* column height not matching row, clearfix did not work here     */
/* dont ask why this did, gave the bad row an id name of indexrow */
/* the two columns were already id'd as rootcol1 and rootcol2     */
/* http://stackoverflow.com/questions/19695784/how-can-i-make-bootstrap-columns-all-the-same-height */
.indexrow {
  overflow: hidden;
}

[class*="rootcol"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.rootcol1 {
  background-color: #c0f2b3;
}
.rootcol2 {
  background-color: #167f83;
}

/*  - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/*  - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/*  - -                                             - -  */
/*      styling for teams/root/show.html.erb  w/flex     */
/*  - -                                              - - */
/*  - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/*  - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* align-content: flex-start | flex-end | center |       */
/* space-between | space-around | stretch                */
/* !!! align-content has no effect when there is only  !!*/
/* !!! one line of flex items.                         !!*/

.container {
  padding-bottom: 10px;
}
/* attempt to background this page only with a shade    */
/* and then perhaps an image, walk before run           */
.container-bg {
  /* background: linear-gradient(rgba(0,0,0, 0.1),rgba(0,0,0, 0.1)), */
  /*            url("/assets/sprites.jpg") no-repeat center center fixed; */
  background: linear-gradient(rgba(0,0,0, 0.1),rgba(0,0,0, 0.5)),no-repeat center center fixed;
  -webkit-backgroud-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  border-radius: 10px;
}

.teambanner {       /* teams/root/show.html.erb */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start; /* main axis alignment */
  align-content: flex-start; /* cross axis alignment  */
  height: auto;
  padding-top: 5px;
}

/*  ------------------------------------------------------------- */
/*    <div class="topic-container">       */
/*      <div class="topic-item">Topics of Discussion</div>        */
/*      <div class="topic-item">X</div>   */
/*      <div class="topic-item">X</div>   */
/*      <div class="topic-item">          */
/*        <a href = "/teams/<%= @team.id %>/channels/new" class="btn btn-default btn-sm active" role="button">New Topic</a>   */
/*      </div>    */
/*    </div>      */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/*   This is styling for THE TABLE OUTPUT arrangement or the DO  */
/*   used in teams/root/show.html.erb                            */
.topic-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.topic-item1 {
  /* background: tomato; */

  padding: 5px;
  margin-top: 5px;
  height: auto;
  width: 50%;
  line-height: 40px;
  font-weight: bold;
  font-size: 1.5em;
  color: #ffff20;
  text-align: left;
}

.topic-item2 {
  /* background: tomato; */
  padding: 5px;
  margin-top: 5px;
  height: auto;
  width: 200px;
  line-height: 40px;
  font-weight: bold;
  font-size: 1.5em;
  color: #202020;
  text-align: center;
}

.topic-item3 {
  /* background: tomato; */

  padding: 5px;
  margin-top: 5px;
  height: auto;
  width: 50%;
  line-height: 40px;
  font-weight: bold;
  font-size: 1.5em;
  color: #202020;
  text-align: right;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/*   THE TABLE DO OUTPUT                                      */
/*   used in teams/root/show.html.erb                         */
/*                                                            */
/*		CENTERING VERTICALLY 						                         */
/*		6 Methods For Vertical Centering With CSS			           */
/*		http://vanseodesign.com/css/vertical-centering/		       */
/*		Equal Top and Bottom Padding					                   */
/*													                                   */
/*	html												                               */
/*			<div id="parent">							                         */
/*	 		<div id="child">Content here</div>			               */
/*			</div>									                               */
/*													                                   */
/*													                                   */
/*	css												                                 */
/*			#parent {									                             */
/*	    			padding: 5% 0;  						                     */
/*			}  										                                 */
/*													                                   */
/*			#child {    								                           */
/*				padding: 10% 0;   						                       */
/*			}										                                   */
/*													                                   */
/* EACH TIME THRU THE DO LOOP YOU MAKE A NEW ROW CONTAINER     */
/* this container holds 3 PARENT items, it is THE ROW          */

@mixin channel-container {
  padding: 5px 0px 5px 0px;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  border-radius: 6px;
}   /* close the class channel-container */

#shade {
  background-color: #d4d4d4;
  @include channel-container;
}
/* - - - - - - - - - - - - - -         WOW                   -*/
/* - - - - - - - - - - - - - -                               -*/
#noshade {
  background-color: #ededed;
  @include channel-container;
}

/*         Elements can have BOTH                       */
/*         There is nothing stopping you from having    */
/*         both an ID and a Class on a single element.  */
/*         In fact, it is often a very sensuous idea.   */
/* EXAMPLE:      <li id="comment-27299" class="item">   */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/*  The margin-top CSS property of an element sets the margin           */
/*  space required on the top of an element. A negative value           */
/*  is also allowed.                                                    */
/*  https://developer.mozilla.org/en-US/docs/Web/CSS/margin-top#Values  */
/*                                                                      */
/* - - - - - - - -   CONTAINER see view, teams/root/show.html.erb       */
/*                                                                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.channel-item1 {
  display: flex;            /* added */
  flex-direction: column;   /* added */
  /* border: 1px 0px 1px 0px; */
  /* border-color: #0020aa;   */
  /* border-style: solid;     */
  /* background: yellow;      */
  padding: 5% 0px 5% 0px;
  margin-top: 0px;
  height: auto;             /* set to auto, was 100% */
  width: 25%;
  line-height: 18px;
  font-weight: bold;
  font-size: 14px;
  color: #2020202;
  text-align: center;
  justify-content: center;  /* changed was align-content, center */
  overflow: hidden;
  }
/*                                                                */
/* this is confusing, the relation between a link style           */
/*         and that of the container the anchor tag is within     */
/* see teams/root/show.html.erb , NESTED HOVER for a tag          */
/* see teams/root/show.html.erb , NESTED HOVER for a tag          */
/* this formats the link in the feaux table DO for the page       */
/*    TOPIC LINK IS USED                                          */
/*      div class="channel-item1"                                 */
/*         <a><x%x= link_to channel.name,                         */
/*            channel_path(channel.id), id: "topic-link" %x></a>  */
/*       /div                                                     */
.child-item1 {
  padding: 5% 0px 5% 0px;
  /*   border: 1px 0px 1px 0px;     */
  /*   border-color: #990000;      */
  /*   border-style: solid;       */
}

  #topic-link {
    color: #393a3b; /* an alien grey */
    font-size: 1.1em;
    line-height: 1.7em;
    &:hover{
      color: #202020;
      text-decoration: none;
      font-weight: bold;
    }
  }
/* - - - - - - - -   CONTAINER see view, teams/root/show.html.erb    */

/*  The line-height property defines the amount of space above      */
/*  and below inline elements. That is, elements that are set to    */
/*  display: inline or display: inline-block. This property is      */
/*  most often used to set the leading for lines of text.           */

.channel-item2 {
  display: flex;            /* added  */
  flex-direction: column;   /* added */
  /*   border: 1px 0px 1px 0px;     */
  /*   border-color: #202020;      */
  /*   border-style: solid;       */
  /*   background: green;        */
  padding: 5% 0px 5% 0px;
  margin-top: 0px;
  height: auto;             /* set to auto, was 100% */
  width: 55%;
  line-height: 18px;
  font-weight: bold;
  font-size: 14px;
  color: #202020;
  text-align: center;
  justify-content: center;  /* changed was align-content, center */
}

.child-item2 {
  padding: 5% 0px 5% 0px;
  /*   border: 1px 0px 1px 0px; */
  /*   border-color: #990000;  */
  /*   border-style: solid;   */
}

.channel-item3 {
  display: flex;            /* added  */
  flex-direction: column;   /* added */
  /*  border: 1px 0px 1px 0px;      */
  /*  border-color: #202020;       */
  /*  border-style: solid;        */
  /*  background: orange;        */
  padding: 5% 0px 5% 0px;
  margin-top: 0px;
  height: auto;             /* set to auto, was 100% */
  width: 20%;
  line-height: 18px;
  font-weight: bold;
  font-size: 13px;          /* changed from an em to 14px */
  color: #202020;
  text-align: center;
  justify-content: center;  /* changed was align-content, center */
  overflow: hidden;
}

.child-item3 {
  padding: 5% 0px 5% 0px;
  /* border: 1px 0px 1px 0px; */
  /* border-color: #00ff00;   */
  /* border-style: solid;     */
}

/*          END OF TABLE DO OUTPUT                                */
/*   The above styles THE TABLE OUTPUT arrangement or the DO      */
/*   used in teams/root/show.html.erb                             */

/*   page final row content of back to my channels button         */
/*   and you are here disclaimer used in teams/root/show.html.erb */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

.button-container {
  padding: 10px 0px 5px 0px;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.channel-item4 {
    /* background: tomato; */
    padding: 5px;
    margin-top: 5px;

    height: auto;
    width: 50%;

    line-height: 40px;

    font-weight: bold;
    font-size: 1.5em;
    color: #202020;
    text-align: left;
}

.channel-item5 {
    padding: 20px 0px 0px 0px;
    margin-top: 5px;
    height: auto;
    width: 50%;
    line-height: 40px;
    font-weight: normal;
    font-size: .8em;
    color: #202020;
    text-align: right;
  }

  /*   page final row content of back to my channels button         */
  /*   and you are here disclaimer used in teams/root/show.html.erb */
/* -----------------------------------------------------------  */
/* -----------------------------------------------------------  */
/* -----------------------------------------------------------  */

/* views/channels/root/show            views/channels/root/show */
.channel-topic {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.topic-item4 {
  /* background: tomato; */

  padding: 5px;
  margin-top: 5px;
  height: auto;
  width: auto;
  line-height: 40px;
  font-weight: bold;
  font-size: 1.5em;
  color: #202020;
  text-align: left;
}

/*  FORMS                     FORMS                      FORMS  */
/*  FORMS                     FORMS                      FORMS  */
/* this affects form for session log-in and box border   */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbbbc5; /* darkens the gray of bbbbbb a bit */
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  @include box-sizing;
}

input {
  height: auto !important;
}

/*  FORMS                     FORMS                      FORMS  */
/*  FORMS                     FORMS                      FORMS  */
/*  FORMS                     END                        FORMS  */

/* FORMS       FORMS       SIMPLE FORM      FORMS        FORMS  */
/* FORMS    the item below is for simple form            FORMS  */
/*  see the create user form at users/_form.html.erb            */

/*              TEAM UTILITIES                                  */
/*      views/teams/directory/index.html.erb                    */

.topic-name {
  /* background: tomato; */

  padding: 5px;
  margin-top: 5px;
  height: auto;
  width: 40%;
  line-height: 40px;
  font-weight: bold;
  font-size: 1.5em;
  color: #ffff00;
  text-align: left;
}

.topic-desc {
  /* background: tomato; */
  padding: 5px;
  margin-top: 5px;
  height: auto;
  width: 35%;
  line-height: 40px;
  font-weight: bold;
  font-size: 1.5em;
  color: #ffff00;
  text-align: center;
}

.topic-addn {
  /* background: tomato; */

  padding: 5px;
  margin-top: 5px;
  height: auto;
  width: 25%;
  line-height: 40px;
  font-weight: bold;
  font-size: 1.5em;
  color: #ffff00;
  text-align: right;
}


.teamwrap {
  display: flex;
  flex-direction: column;
}
/*  teamwrap NOT container-bg, teamrow not used, difficult  */
/*              .teamrow {                                  */
/*              display: flex;                              */
/*              flex-direction: row;                        */
/*              width: 100%;                                */
/*              padding: 5px 2px 5px 2px;                   */
/*              }                                           */
/*  teamwrap NOT container-bg, teamrow not used, difficult  */

.teamname {
  display: flex;            /* added */
  flex-direction: column;   /* added */
  background: rgba(250,250,0, 0.1);
  padding: 5% 0px 5% 0px;
  margin-top: 0px;
  height: auto;             /* set to auto, was 100% */
  width: 25%;         /* WATCHOUT for the link-height callout       */
  line-height: 24px;  /* aka leading-is the gap above a row of text */
  font-weight: bold;  /* this gap is set by the diff between        */
  font-size: 14px;    /* font-size and line-height  (duckett283)    */
  color: #202020;
  text-align: center;
  justify-content: center;  /* changed was align-content, center */
  overflow: hidden;
  }

.name-child {
  padding: 5% 0px 5% 0px;
     /*   border: 1px 0px 1px 0px;      */
     /*   border-color: #990000;        */
     /*   border-style: solid;          */
}

.teamdescr {
  display: flex;            /* added  */
  flex-direction: column;   /* added */
  background: rgba(250,250,0,0.1);
  padding: 5% 0px 5% 0px;
  margin-top: 0px;
  height: auto;             /* set to auto, was 100% */
  width: 65%;
  line-height: 24px;
  font-weight: bold;
  font-size: 14px;
  color: #202020;
  text-align: center;
  justify-content: center;  /* changed was align-content, center */
}

.descr-child {
  padding: 5% 0px 5% 0px;
  /*   border: 1px 0px 1px 0px; */
  /*   border-color: #990000;  */
  /*   border-style: solid;   */
}

.teamlink {
  display: flex;            /* added  */
  flex-direction: column;   /* added */
  background: rgba(250,250,0, 0.1);
  padding: 5% 0px 5% 0px;
  margin-top: 0px;
  height: auto;             /* set to auto, was 100% */
  width: 10%;
  line-height: 24px;
  font-weight: bold;
  font-size: 13px;          /* changed from an em to 14px */
  color: #202020;
  text-align: center;
  justify-content: center;  /* changed was align-content, center */
  overflow: hidden;
}

.link-child {
  padding: 5% 0px 5% 0px;
  /* border: 1px 0px 1px 0px; */
  /* border-color: #00ff00;   */
  /* border-style: solid;     */
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/*                    START                                     */
/* You are here for views/teams/root/new.html.erb  YOU ARE HERE */
/* formatting difficulties with this'un                         */
/* very similar to class channel-item5                          */

/*    SIMPLE FORM    _form for :  views/teams/root/new.html.erb */
.channel-item6 {
  /*  border-width: 2px;      */
  /*  border-style: dashed;   */
  /*  border-color: #00cc00;  */
  padding: 4px 0px 0px 0px;
  height: auto;
  color: rgba(250,0,0, 0.2);
}

h5 {
  /*    border-width: 2px;      */
  /*    border-style: dashed;   */
  /*    border-color: #aa0000;  */
  padding: 0px 0px 0px 0px;
  font-size: .6em;
  letter-spacing: 1px;
  text-align: right;
  font-weight: normal;
}

/*                     END                                     */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.my_class {
  color: #ffff00;
  font-size: 20px;

}



.createteam {
  background-color: rgba(100,100,100,.4);
  border-radius: 6px;
}
/* last minute format so this form wouldn't look soooo vanilla */

.create {
    background-color: #ff6d1f;  /* button fill */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #cccccc; /* gray #cccccc */
    display: inline-block;
    color: #286090;            /* TEXT  - fafafa is practically WHITE ! */
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 0px 8px 0px;
    text-decoration: none;
}
.create:hover {
    background-color: #286090;
    color: #fafafa;
}
.create:active {
    position: relative;
    top: 1px;
}

/*  FORMS          simple form see ABOVE items           FORMS  */
/*  see the create user form at users/_form.html.erb            */
/* FORMS       FORMS       SIMPLE FORM      FORMS        FORMS  */
